In [6]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import re
import sklearn



def datetime_range(start, end, delta):
    current = start
    while current <= end:
        yield current
        current += delta

def csv_list(year, month, date):
    dts = [f'{dt.hour}-{dt.minute}.csv' for dt in 
           datetime_range(datetime(year, month, date, 0), datetime(year, month, date, 23, 59), timedelta(minutes=10))]
    return dts

def calc_u_v(df, ob_point):
    wind_dir = df['WD1']
    wind_speed = df['WS1']
    wind_u_v = wind_components(wind_speed * units('m/s'), wind_dir * units.deg)
    return [ob_point, round(wind_u_v[0].magnitude, 5), round(wind_u_v[1].magnitude, 5)] # (index, u wind, v wind) u: X (East-West) v: Y(North-South)

root_path = '../../../data/one_day_data/2020/'
monthes = [i for i in range(4, 11)]
csv_files = csv_list(2020, 1, 1)

count = 1
for month in monthes:
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    print('Loading ...', month)
    for date in os.listdir(root_path + month):
        for file in csv_files:
            if count == 1:
                df = pd.read_csv(root_path + month + f'/{date}/{file}')
            else:
                data_df = pd.read_csv(root_path + month + f'/{date}/{file}')
                df = pd.concat([df, data_df])
            
            count += 1
                
df.head()

Loading ... 04
Loading ... 05
Loading ... 06
Loading ... 07
Loading ... 08
Loading ... 09
Loading ... 10

,Unnamed: 0,LON,LAT,hour-rain,AT1,RH1,SOL,WD1,WS1,PRS,SLP
0,Vlz-Bagbaguin_00174731,121.0009,14.7134,0.0,29.5,49.3,137.0,60.0,0.3,1011.1,1014.0
1,NagNayon_00181273,121.0285,14.7192,0.0,29.6,59.0,226.0,8.0,0.5,1008.3,1014.6
2,Sinegue_00181300,120.9319,14.4599,0.0,29.6,59.7,284.0,19.0,1.6,1012.6,1014.3
3,DLSAU_00174722,120.9974,14.6705,0.0,29.0,55.0,119.0,72.0,0.6,1011.6,1014.1
4,ASTI_00173457,121.0721,14.6471,0.0,29.9,46.1,218.0,21.0,1.2,1006.3,1014.0

In [8]:
df.describe()

,LON,LAT,hour-rain,AT1,RH1,SOL,WD1,WS1,PRS,SLP
count,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000,983520.000000
mean,121.015488,14.564418,0.260041,29.585113,60.945204,176.242063,166.218997,0.822414,1007.853506,1010.610364
std,0.043478,0.100311,1.913964,3.181045,13.585668,281.766643,98.164884,1.769386,2.826700,2.578048
min,120.931900,14.383600,0.000000,20.800000,20.100000,0.000000,0.000000,0.000000,993.400000,996.800000
25%,120.984400,14.477800,0.000000,27.000000,50.500000,0.000000,88.000000,0.300000,1006.000000,1009.000000
50%,121.009700,14.572900,0.000000,29.100000,61.100000,12.000000,164.000000,0.600000,1008.000000,1010.700000
75%,121.044400,14.650900,0.000000,31.900000,71.500000,241.000000,241.000000,1.000000,1009.800000,1012.300000
max,121.115600,14.740900,88.000000,41.600000,145.400000,1485.000000,360.000000,49.600000,1016.400000,1020.200000